.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-wrapper {
  margin-bottom: 40px;
}

.calander-view {
  text-align: center;
  margin-bottom: 40px;
}

.calander-view .row{
  flex-wrap: nowrap;
}

.calander-view__headers{
  font-weight:bold 
}

.calander-view__day{
  color: grey;
}

.calander-view__current-day {
  color: black;
}

.calander-view__day-number.calander-view__selected-day {
  background-color: rgb(32, 124, 245);
}

.calander-view__day-number {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  background-color: rgb(241, 241, 253);
  border-radius: 200px;
}

.calander-view .col{
  padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .calander-view .col{
    min-width: 61.125px;

  }
}

@media screen and (max-width: 990px)
{
  .btn .button-description{
    display: none;
  }

  .btn{
    margin-bottom: 2px;
  }

  .btn-add{
    margin-bottom: 30px;
  }
}
.event-list-table{
  margin-bottom: 20px;
}

#root{
  min-width: 440px;
}